<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>忘记密码</title>

        <!-- CSS -->

        <link rel="stylesheet" href="/static/js/assets/bootstrap/css/bootstrap.min.css">

{#		<link rel="stylesheet" href="/static/js/assets/bootstrap/css/bootstrap-datetimepicker.min.css">#}


        <link rel="stylesheet" href="/static/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/css/form-elements.css">
        <link rel="stylesheet" href="/static/css/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/static/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/static/assets/ico/apple-touch-icon-57-precomposed.png">


    </head>
    <style>
        input.message_validate.form-control {
    width: 53% !important;
    border-radius: 5px !important;
}

        .register_mobile_phone{
            padding:0px;
        }
        @media (max-width: 955px) {
            .register_mobile_phone{
            padding:15px;
        }
            label.col-lg-3.col-md-3.col-sm-12.control-label{
                text-align: left;
            }
        }

        @media(max-width: 988px){
             label.col-lg-3.col-md-3.col-sm-12.control-label{
                text-align: left;
            }
        }

        .li-text a:hover{
            background-color:#3db1fa;
        }
        .back-has-account {
            display: block;
            width: 62px;
            height: 29px;
            border-radius: 100px;
            float: right;
            border: 0px;
            text-align: center;
        }
        .register-get-free-course {
            font-size: 24px;
            margin-top:10px;
            margin-left:20px;
        }

        .table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th{
            padding:0px !important;
        }

        /*验证码*/
        .add { width: 128px; height: 44px; float: left; _display: inline; cursor: pointer; margin-left: 30px; }

        .sradd { width: 190px; text-indent: 4px; font-size: 14px; }

        .reg-box li .input-code { width: 106px; padding: 10px; font-family: Arial; font-style: italic; color: red; letter-spacing: 1px; cursor: pointer; text-align: center; text-indent: 0; }

        .phoKey { background: #3db1fa; text-align: center; line-height: 44px; color: #fff;letter-spacing: 3px; font-size:18px; }


        .error { clear:both;display:block;color: red; padding-bottom:5px;height:20px;float: left; font-size:12px;line-height: 20px;}

    </style>

    <body>

		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">BootZard - Bootstrap Wizard Template</a>
				</div>
				
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
				    <div class="navbar-left register-get-free-course" >找回密码</div>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<span class="li-text">
								<a href="{% url 'register' %}" class="back-has-account" style="border: 0px;">注册</a>
							</span> 
							<!--<a href="#"><strong>links</strong></a> -->
							<span class="li-text">
								<a href="{% url 'index' %}" class="back-has-account" style="border: 0px;">返回</a>
							</span>
							<!--
							<span class="li-social">
								<a href="https://www.facebook.com/pages/Azmindcom/196582707093191" target="_blank"><i class="fa fa-facebook"></i></a> 
								<a href="https://twitter.com/anli_zaimi" target="_blank"><i class="fa fa-twitter"></i></a> 
								<a href="https://plus.google.com/+AnliZaimi_azmind" target="_blank"><i class="fa fa-google-plus"></i></a> 
								<a href="https://github.com/AZMIND" target="_blank"><i class="fa fa-github"></i></a>
							</span>
							-->
						</li>
					</ul>
				</div>
			</div>
		</nav>

        <!-- Top content -->
        <div class="top-content">
            <div class="container">
                
            <!--    <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1>Free <strong>Bootstrap</strong> Wizard</h1>
                        <div class="description">
                       	    <p>
                                This is a free responsive Bootstrap form wizard. 
                                Download it on <a href="http://azmind.com"><strong>AZMIND</strong></a>, customize and use it as you like!
                            </p>
                        </div>
                    </div>
                </div> -->
                
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                    	<form id="register_form" role="form" action="" method="post" class="f1">

                            <!--
                    		<h3>Register To Our App</h3>
                    		<p>Fill in the form to get instant access</p> -->
                    		<div class="f1-steps">
                    			<div class="f1-progress">
                    			    <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
                    			</div>
                    			<div class="f1-step active">
                    				<div class="f1-step-icon"><i class="fa fa-user"></i></div>
                    				<p>身份验证</p>
                    			</div>
                    			<div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa fa-key"></i></div>
                    				<p>重设密码</p>
                    			</div>
                    		    <div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa-fw glyphicon glyphicon-ok"></i></div>
                    				<p>完成</p>
                    			</div>
                    		</div>
                    		
                    		<fieldset>
                    			<div class="form-group col-lg-12 col-md-12 col-sm-12" >
                    			    <label  for="mobile" class="col-lg-3 col-md-3 col-sm-12 control-label register_mobile_phone">注册手机号码</label>
									<div class="col-lg-9 col-md-9 col-sm-12">
									 <input type="text" name="mobile" placeholder="请输入你的手机号" class=" forget-mobile f1-first-name form-control"
                                            id="f1-first-name">
                                     <span class="error error-mobile-number"></span>
									</div>

                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label class="col-lg-3 col-md-3 col-sm-12 control-label" for="validate_number">验证码</label>
									<div class="col-lg-9 col-md-9 col-sm-12">
                                        <input id="validate_number" type="text" name="validate_number" class="f1-about-yourself form-control sradd photokey" placeholder="请输入验证码" style="width:49%;color:#999;ime-mode:disabled;-webkit-ime-mode:inactive;float:left"  />
                                        <span for="validate_number_creator" class="add phoKey"></span>
                                        <span class="error error-validate"></span>
									<!-- <input type="text" name="f1-about-yourself" placeholder="请输入右侧验证码" 
                                    	                 class="f1-about-yourself form-control" id="f1-about-yourself"></input> -->
									</div>
                
                                </div>


                                <div class="form-group f1-buttons col-lg-12 col-md-12 col-sm-12">
                                    <button type="button" class="btn btn-next middle-next" >下一步</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                      <label class="col-lg-3 col-md-3 col-sm-12 control-label" for="message_validate" style="text-align: center; margin-top: 5px;">验证码</label>
									<div class="col-lg-9 col-md-9 col-sm-12">
                                         <div class="input-group">
                                         <input name = "message_validate" style="width:auto" class="message_validate form-control" size="16" type="text" placeholder="请输入短信验证码" >
                                         <!-- <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
                                         <span class="li-text" >
								              <input id='change-validate-time' type="button" class="back-has-account"
                                                     style="color:#101010;width: 130px;height:40px;margin-left: 20px;background-color:#337ab7;" value="免费获取"
                                                      />
                                         </span>
                                         </div>
                                         <span class="error error_message_validate" ></span>
                                    </div>

                                </div>

                                <div class="form-group col-lg-12 col-md-12 col-sm-12 ">
                                    <label class="col-lg-3 col-md-3 col-sm-12 control-label" for="password" style="text-align: center;margin-top: 5px">密码</label>
                                    <div class="col-lg-9 col-md-9 col-sm-12" >
                                        <input type="password" name="password" placeholder="请输入6-20个字母、数字、下划线" class="f1-password form-control" id="f1-password"
                                               style="margin-bottom: 10px;">
                                        <span class="error error-f1-password"></span>
                                    </div>

                                </div>

                                <div class="f1-buttons col-lg-12 col-md-12 col-sm-12">
{#                                    <button type="button" class="btn btn-previous">返回</button>#}
                                    <button type="button" class="btn btn-next btn-next-submit">完成</button>
                                </div>
                            </fieldset>

                            <fieldset id="success">
                                <h4 style="height: 100px; text-align: center; padding-top: 10px;">新密码修改成功，请<a href="{% url 'index' %}">点击</a>进入首页登录</h4>
                            </fieldset>
                    	
                    	</form>
                    </div>
                </div>
                    
            </div>
        </div>

    
        <!-- Javascript -->
{#        <script src="https://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>#}
{#        <script src="https://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>#}
{#        <script src="https://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>#}
	
        <script src="/static/js/assets/js/jquery-1.11.1.min.js" charset="UTF-8"></script>
        <script src="/static/js/assets/bootstrap/js/bootstrap.min.js" charset="UTF-8"></script>


{#		<script src="/static/js/assets/bootstrap/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>#}
{#		 <script src="/static/js/assets/bootstrap/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>#}
{#        <script src="/static/js/assets/bootstrap/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>#}
{#		#}



        <script src="/static/js/assets/js/jquery.backstretch.min.js"></script>
        <script src="/static/js/assets/js/retina-1.1.0.min.js"></script>
        <script src="/static/js/assets/js/forget_scripts.js"></script>
		
        
        <!--[if lt IE 10]>
            <script src="/static/js/assets/js/placeholder.js"></script>
        <![endif]-->



    </body>

</html>