{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list admin_urls suit_list suit_tags %}
{% load url from suit_compat %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            <span class="divider">&raquo;</span></li>
        <li><a href="{% url 'notifications_management:notification_home' %}">通知</a>
                    <span class="divider">»</span></li>
         <li class="active">{{ category_name }}</li>
    </ul>
{% endblock %}
{% block content %}
    <link href="{% static 'notifications_management/article.css' %}" rel="stylesheet" type="text/css" />
    <div id="Article">
        <h1>{{ notification.title }}<br>
            <span>{{ notification.create_at }}</span>&nbsp;&nbsp;<span>{{ category_name }}</span></h1>

        <div class="content">
            <p><span style="font-size: 18px"><span style="font-family: 楷体_gb2312">
                  {% autoescape off %}
                      {{ notification.content }}
                  {% endautoescape %}
            </span></span></p>

        </div>
    </div>

{% endblock %}
