:root {
    --bg-color: #355
}

* {
    margin: 0;
    padding: 0;
}

body {

    font-family: -apple-system, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    background-color: #ddd;

}

/*------------------登录注册----开始---------------------------*/
.login-container .navbar {
    min-height: 30px;
    font-size: 13px;
}

.login-container .navbar-nav > li > a {
    padding: 5px 15px 5px 15px;
}

.login-container .navbar-brand {
    height: 30px;
    padding: 5px 15px;
    font-size: 18px;
    color: #fff;
}

.login-container .navbar-right {
    margin-right: 0;
}

/*------------------登录注册------结束-------------------------*/
/*style of search div*/
div.search {
    position: relative;
    top: 0;
    width: 100%;
    height: 120px;
    background-color: white;
}

div.classify {
    position: relative;
    width: 100%;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}

div.list {
    width: 100%;
    background-color: #fff;
}

/*-----------------------title-图片-----begin-----------------*/
@media (min-width: 1230px) {
    .title-logo {
        left: 100px;
        width: 180px;
    }
}

@media (max-width: 1230px) {
    .title-logo {
        width: 120px;
        left: 100px;
    }
}

@media (max-width: 1100px) {
    .title-logo {
        width: 80px;
        left: 50px;
    }
}

@media (max-width: 950px) {
    .title-logo {
        display: none;
    }
}

.title-logo {
    height: 50px;

    float: left;
    position: absolute;
    vertical-align: bottom;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.title-logo img {
    width: 100%;
    height: 100%;
}

/*-----------------------title-图片-----end-----------------*/

/*----------------------------------------输入框的样式--begin----------------------------------*/
.search .autocomplete-container {
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;
    width: 283px;
    height: 32px;
    margin: 0 auto;
}

.search * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.search .autocomplete-input {
    padding: 9px;
    font-family: inherit;
    float: left;
    font-size: 1.2em;
    border: 2px solid #3db1fa;
    margin: 0;
}

.search .autocomplete-button {
    text-align: center;
    font-size: 20px;
    font-family: inherit;
    background-color: #3db1fa;
    border: 2px solid #3db1fa;
    color: white;
    padding: 8px;
    float: left;
    cursor: pointer; /*手型*/
}

.search .autocomplete-button:HOVER {
    font-size: 22px;
}

.search .proposal-box {
   position: absolute;
    height: auto;
    border-left: 2px solid #00b4ec;
    border-right: 2px solid #00b4ec;
    left: 0;
    z-index: 10;
    background-color: rgba(36, 111, 115, 0.7);
}

.search .proposal-list {
    list-style: none;
    box-shadow: 1px 1px 5px rgba(0, 180, 236, 0.5);
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.search .proposal-list li {
    text-align: left;
    padding: 5px;
    font-family: inherit;
    border-bottom: 1px solid rgba(0, 180, 236, 0.5);
    height: 25px;
    line-height: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.search li.proposal.selected {
    background-color: #3db1fa;
    color: white;
}

/*新添X组件到输入框的样式--begin*/
.search .cancel {
    height: 40px;
    width: 30px;
    color: #D0CECE;
    line-height: 40px;
    position: absolute;
    right: 130px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    display: none;
}

.search .cancel.active {
    display: block;
}

.search .cancel:before {
    content: '\e6a6';
}

.search .cancel:hover:before {
    content: '\e706';
    font-size: 25px;
}

/*新添X组件到输入框的样式--begin*/
/*----------------------------------------输入框的样式--结束----------------------------------*//*----------------------------------------输入框的样式--end----------------------------------*/

/*-----------------分类------开始---------------------*/
.course_select_container {
    /*position: relative;*/
    width: 100%;
    font-size: 18px;
}

/*------------------分类插件的布局---begin---------------------------*/
.classify_head {
    text-align: end;
    /*position: relative;*/
    width: 100%;
    height: 39px;
    margin-bottom: 15px;
}

.classify_head div {
    display: inline-block;
    float: left;
    margin-top: 10px;

}

.classify_head .classify_head_label {
    margin-top: 2px;
    float: left;
    border: 2px dashed #fff;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}

.classify_body {
    width: 100%;
    min-height: 50px;
    background-color: #7B72E9;
}

.classify_body .classify_0 {
    /*position: relative;*/
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.classify_body .classify_0 .span0:hover {
    color: #00b4ec;
}

.classify_body .classify_0 .span0.active {
    color: #00b4ec;
    border-bottom: 2px inset #00b4ec;
}

.classify_body span, .classify_head span.selected {
    text-align: center;
    font-size: 18px;
    /*float: left;*/
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}

.classify_body span {
    /*padding-bottom: 15px;*/
}

.classify_head span.selected {
    border: 1px dashed white;
    background-color: rgba(0, 204, 255, 0.2);

}

.div_left {
    margin-left: 1%;
    display: inline-block;
    vertical-align: top; /*顶部对齐*/

}

.div_left span {
    display: inline-block;

}

.div_right {
    position: relative;
    right: 0;
    display: inline-block;
    /*float: right;*/
}

.div_right span {
    display: inline-block;
    margin-left: 0px;
    margin-right: 35px;
    margin-bottom: 5px;
    font-size: 15px;
}

.classify_body .classify_1 {
    position: relative;
    width: 100%;
    height: auto;
    /*float: left;*/
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.classify_body .classify_1 span.noPointer {
    font-size: 15px;
    cursor: default;
    color: #666;
}

.classify_body div.more {
    /*position: relative;*/
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
}

.classify_0 span {
    padding: 0;
    margin-top: 0;
    display: inline-block;
    height: 49px;
    line-height: 50px;
}

/*------------------分类插件的布局--end----------------*/

/*-----------------分类------结束---------------------*/

/*----------------------列表显示------------------------*/
/* 列表展示的样式*/
.my_container {
    margin: 0;
    font: 13px normal Verdana, Arial, Helvetica, sans-serif;
    background: white no-repeat center top;
}

.list-nav {
    font-family: -apple-system, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    width: 100%;
    padding: 0 10px 0px 20px;
    height: 45px;
    position: relative;
}

.list-nav span {
    text-align: center;
    display: inline-block;
    height: 45px;
    width: 55px;
    line-height: 45px;
    font-size: 15px;
    margin-right: 20px;
}

.list-nav > span:hover {
    color: #00b4ec;
    cursor: pointer;
}

.list-nav > span[id='0']:after {
    content: '↓↑';
}

.list-nav > span[id='-']:after {
    content: ' ↓';
}

.list-nav > span[id='+']:after {
    content: ' ↑';
}

.list-nav > span.active {
    color: #00b4ec;
    border-bottom: 2px inset #00b4ec;
}

.list-nav div.switch_thumb {
    display: inline-block;
    width: 43px;
    height: 45px;
    background-color: white;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    cursor: pointer;
}

.list-nav div.switch_thumb.right {
    border-right: 1px solid #ddd;
}

.list-nav div.switch_thumb.right div {
    background-image: url(../images/filtr-item/sw_2.png);
    background-size: cover;
}

.list-nav div.switch_thumb.left div {
    text-align: center;
    color: #9090a0;
}

.list-nav div.switch_thumb.show, .list-nav div.switch_thumb:hover {
    border: 1px solid #dff;
    background-color: #ddd;
}

.list-nav div.switch_thumb.left.show div, .list-nav div.left.switch_thumb:hover div {
    color: #00b4ec;
}

.list-nav div.switch_thumb.right.show div, .list-nav div.switch_thumb.right:hover div {
    background-image: url(../images/filtr-item/sw.png);
}

.list hr {
    margin: 0;
    border-color: #aaa;
    padding: 0;
}

img {
    border: none;
}

h1 {
    font: 5em normal Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 20px;
}

h1 span {
    color: #e7ff61;
}

h1 small {
    font: 0.2em normal Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5em;
    display: block;
    color: #ccc;
}

.list-container {
    width: 100%;
}

.my_container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

div.display {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none; /*不展示列表的序号*/
    /*background: white;*/
}

div.display .no-content {
    height: 100px;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    color: #CABDBD;
    letter-spacing: 10px;

}

div.display .bird {
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 10px;
    background-size: 50px 50px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    background-image: url(/static/images/filtr-item/bird-1.png);
}

div.display .bird.active {
    background-size: 50px 50px;
    background-image: url(/static/images/filtr-item/bird-2.png);
}

div.display .no-content:before {
    content: '\e688 ';
    color: #CE6060;
}

div.display .content_block {
    /*width: 100%;*/
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #ddd;
    position: relative;
    overflow: hidden;
}

div.display .content_block a {
    color: #00b4ec;
    text-decoration: none;
}

div.display .content_block h2 {
    width: 100%;
    margin: 0;
    font-weight: 900;
    font-size: 1.7em;
}

div.display .content_block h2 a {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.display .content_block p {
    margin: 0;
    /*padding: 5px 5px 5px 245px;*/
    font-size: 1.2em;
}

div.display .content_block img {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 2px solid #ccc;
    background: #fff;
    margin: 0 15px 0 0;
    /*float: left;*/
}

div.display div.head, div.display div.foot {
    padding: 0;
    width: 100%;
    height: 10px;
    margin: 0;
    border: none;
}

div.display div.head {
    display: none;
}

div.display div.foot {
    height: 50px;
}

div.thumb_view {
    border: none;
}

div.thumb_view .content_block {

    text-align: center;
    border: 1px solid #fff;
    overflow: hidden;
}

div.thumb_view .content_block:hover {
    border-color: #ddd;
}

div.thumb_view.display .content_block h2 {
    display: inline-block;
    margin: 10px 0;
}

div.thumb_view .content_block .info {
    height: auto;
    width: 100%;
    margin: 0;
}

div.thumb_view .content_block img, div.thumb_view p.watch {
    width: 100%;
    margin: 0;
}

div.thumb_view .content_block .info .target {
    display: none;
}

div.thumb_view .content_block a.button {
    position: relative;
    font-size: 13px;
    height: 30px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    width: 40%;
    right: 2px;
    bottom: 0;
    float: right;
}

div.thumb_view .content_block .info .cost {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 22px;
    bottom: 20px;
    float: left;
    line-height: 30px;
}

div.thumb_view .content_block, div.thumb_view .content_block a {
    display: inline-block;
    text-align: center;
}

div.thumb_view .content_block {
    position: relative;
}

div.thumb_view .content_block .photo, div.thumb_view .content_block img, div.thumb_view .content_block .photo p.watch {
    width: 100%;
    /*margin: 0 0 10px;*/
}

div.thumb_view .content_block .info {
    position: static;
    padding: 0;
    margin: 0;
}

div.thumb_view .content_block .button {
    font-size: 15px;
}

div.thumb_view .content_block .info p.other {
    position: static;
    float: none;
    font-size: 15px;
    margin: 0 0 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

div.display.thumb_view div.head, div.display.thumb_view div.foot {

    display: block;
}

a.switch_thumb {
    width: 122px;
    height: 26px;
    line-height: 26px;
    padding: 0;
    display: inline-block;
    background: url('../images/filtr-item/switch.gif') no-repeat;
    outline: none;
    text-indent: -9999px; /*文本首行缩进到，负数代表缩进到左边*/
}

a:hover.switch_thumb {
    filter: alpha(opacity=75);
    opacity: .75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

a.swap {
    background-position: left bottom;
}

/*--------------修该ul li的样式------------------*/
.content_block .photo {
    display: inline-block;
    width: 250px;
    height: 145px;
    cursor: pointer;
    position: relative;
}

.content_block .info {
    position: relative;
    margin-left: 20px;
    display: inline-block;
    height: 145px;
    width: 600px;
    vertical-align: top;
}

.content_block .info p {
    color: #636060;
}

.content_block .info p.target {
    display: block;
    width: 600px;
    margin: 15px 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.content_block .info p.cost {
    color: red;
    font-size: 20px;
    margin-top: 20px;
}

.content_block .info p.other {
    position: absolute;
    left: 0;
    bottom: 0;
}

.content_block .button {
    padding: 0 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 20px 20px;
}

.content_block .button-glow.button-primary {
    vertical-align: bottom;
    color: #00b4ec;
    border-color: #00b4ec;
}

.content_block .button-primary-flat {
    background-color: #00b4ec;
    border-color: #00b4ec;
    color: #fff;
}

div.display .content_block p.watch {
    position: absolute;
    color: #fff;
    display: inline-block;
    background: rgba(51, 204, 255, 0.5);
    line-height: 145px;
    font-size: 25px;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

div.display .content_block p.watch {
    font-style: normal;
    font-weight: 400;
    overflow: hidden;
}

.content_block .photo:hover .watch {
    z-index: 3;
}

/*--------------修该ul li的样式------------------*/

/*--------------修该ul li的样式------------------*/

/*--------------详情的设-计----------------------------------开始 */
.modal {
    background-color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 1200px) {
    .modal .container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .modal .container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .modal .container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 800px;
        margin: 30px auto;
    }
}

.modal-dialog {
    min-width: 380px;
}

.modal img, .modal .info_1 {
    height: 120px;
}

.modal img {
    width: 225px;
}

.modal p.cost:before {
    content: '¥ ';
}

.modal p {
    display: block;
    font-size: 15px;
}

.modal p.cost {
    color: red;
    font-size: 18px;
}

.modal p.course_level:before {
    content: '适合学生水平：';
}

.modal p.course_number:before {
    content: '课时数：';
}

.modal p.watch {
    font-size: 18px;
    color: green;
    cursor: pointer;
    -webkit-text-stroke-width: 0.05px;
}

.modal p.watch:hover {
    color: #00b4ec;

}

.modal-header .navbar-fixed-top {
    right: 40px;
}

.modal-header .navbar {
    border: none
}

.modal-header .navbar-inverse {
    background-color: transparent;
    border-color: #222;
}

.modal-header .navbar-inverse .navbar-brand, .modal-header .navbar-inverse .navbar-nav > li > a {
    color: #000000;
}

.modal-header .navbar-inverse .navbar-brand {
    cursor: default;
}

.modal-header .navbar-collapse.collapsing ul {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0px -14px;
}

.modal-header .navbar-collapse.collapse.in ul {
    margin: 0px -14px;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-header .navbar-collapse.collapse.in ul > li > a, .modal-header .navbar-collapse.collapsing ul > li > a {
    color: #fff;
}

@media (min-width: 768px) {
    .modal-header .navbar-right {
        margin-right: 0px;
    }
}

.modal-header ul > li > a {
    cursor: pointer;
    -webkit-text-stroke-width: 0;

}

.modal-header ul > li > a.collect:before {
    content: "\e61b";
    color: orange;
    font-size: 18px;
}

.modal-header ul > li > a.collect:after {
    content: "收藏";
}

.modal-header ul > li > a.collect.active:before {
    content: "\e630";
    color: red;
    font-size: 18px;
}

.modal-header ul > li > a.collect.active:after {
    content: "已收藏";
}

.modal-header ul > li > a.like:before {
    content: "\e697";
    color: orange;
    font-size: 18px;
}

.modal-header ul > li > a.like:after {
    content: "点赞";
}

.modal-header ul > li > a.like.active:before {
    content: "\e66d";
    color: red;
    font-size: 18px;
}

.modal-header ul > li > a.like.active:after {
    content: "已点赞";
}

.modal-header .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #827B7B;
}

.modal-header .navbar-inverse .navbar-toggle {
    border-color: #ddd;
}

.modal-header .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #ddd;
}

.modal-header .navbar-inverse .navbar-toggle:hover span, .navbar-inverse .navbar-toggle:focus span {
    color: #fff;
}

.modal-body .descr {
    margin: 20px 0 0 0;
}

.modal-body .descr .column {
    padding: 0;
}

.modal-body .descr .column ul > li > a {
    color: #000000;
}

.modal-body .descr .column ul > li.active > a {
    color: #00b4ec;
}

.modal-body .descr-content p {
    text-indent: 2em;
    display: none;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    width:100%;
}

.modal-body .descr-content p.active {
    display: inline-block;
}

/*------------------------详情结束------------------------*/