
.wrapper {
    position: absolute;
    width: 100%;
    height:100%;

}

#featured {
    width: 100%;
    height:100%;
    margin-top: 0;
    margin-right: 20px;
    overflow: hidden;

}
.flexslider .slides .myslide
{
    position: relative;width:100%;height:100%;margin:0 auto;
    background-color: #00b4ec;
}
.flexslider .slides .myslide img {
   /* position: absolute;
    width: 100%;
    height:100%;
    left:0;
    right:0;
    bottom: 0;
    top:0;
    margin: auto;*/

}


/*修改缩略图的位置*/
#switcher {
    z-index: 2;
    left: 50%;
    bottom: 8%;
    position: absolute;

}

/*
!*隐藏左右导向箭头*!
.fp-controlArrow {
    visibility: hidden;
}*/
/*设置幻灯片带文字的框*/
.myslide .banner {
    background: rgba(255,255,255,0) 50% 0 no-repeat;
    left:100px;
    padding: 30px 20px 0 10px;
    width: 33%;
    height:60%;



}
.myslide .banner span{
    font-size: 25px;
    line-height:30px;
    color: #000000;
    letter-spacing:4px;
    font-family: "华文中宋";
    font-style: normal;
}
.myslide .banner h2{
    color: black;
    height: auto;
    text-shadow: 1px 1px 0px #f6f6f6;
}
.myslide .banner a{
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    letter-spacing: 4px;

}
/*设置文字框中的按钮*/
